<div class="demo1 one">
    <h1>Products</h1>
    <div class="demo_product one_pro">
        <a href="#" >
            <img src="../../../../assets/Images/Product2.png" alt="">
            <p><b>Demo1</b></p>
            <p>200$</p>
            <!-- <ngb-rating>1</ngb-rating> -->
        </a>
    </div>
    <div class="demo_product two_pro">
        <a href="#">
            <img src="../../../../assets/Images/Product1.png" alt="">
            <p><b>Demo2</b></p>
            <p>200$</p>
        </a>
    </div>
    <div class="demo_product three_pro">
        <a href="#">
            <img src="../../../../assets/Images/Product3.png" alt="">
            <p><b>Demo3</b></p>
            <p>200$</p>
        </a>
    </div>
    <div class="demo_product four_pro">
        <a href="#">
            <img src="../../../../assets/Images/Product4.png" alt="">
            <p><b>Demo4</b></p>
            <p>200$</p>
        </a>
    </div>

    <a routerLink="/Product" class="demo_product_type_btn">More Products</a>
</div>