<app-navbar></app-navbar>
<div id="demo_background">


    <div class="demo_crops_details">
        <div class="side_crops_bar">

            <div class="demo_crops_details_matter">
                <app-zaid-links></app-zaid-links>

                <h1>Wheat Crops </h1>
                <div class="demo_crops_content">
                    <h3>About the Wheat</h3>

                    <img src="../../../../assets/Images/g1.jpg" width="320" height="210" alt="">
                    <p>Wheat is the main cereal crop in India.
                        The total area under the crop is about 29.8 million
                        hectares in the country. The production of wheat
                        in the country has increased significantly from
                        75.81 million MT in 2006-07 to an all time record
                        high of 94.88 million MT in 2011-12. The
                        productivity of wheat which was 2602 kg/hectare
                        in 2004-05 has increased to 3140 kg/hectare in
                        2011-12. The major increase in the productivity of
                        wheat has been observed in the states of
                        Haryana, Punjab and Uttar Pradesh. Higher area
                        coverage is reported from MP in recent years.
                        <br>
                        Indian wheat is largely a soft/medium hard, medium protein, white bread wheat,
                        somewhat similar to U.S. hard white wheat. Wheat grown in central and western India is
                        typically hard, with high protein and high gluten content. India also produces around 1.0 -1.2
                        million tons of durum wheat, mostly in the state of Madhya Pradesh. Most Indian durum is not
                        marketed separately due to segregation problems in the market yards. However, some
                        quantities are purchased by the private trade at a price premium, mainly for processing of
                        higher value/branded products.
                        <br> <br>
                        The production and productivity of Wheat crop were quite low, when India became
                        independent in 1947. The production of Wheat was only 6.46 million tonnes and prod uctivity
                        was merely 663 kg per hectare during 1950 -51, which was not sufficient to feed the Indian
                        population. The Country used to import Wheat in large quantities for fulfilling the needs of our
                        people from many countries like USA under PL-480. The reasons of low production and
                        productivity of Wheat at that time was
                        <br><br>
                        (a) the tall growing plant habit resulting in lodging, when grown under fertile soils,<br><br>
                        (b) the poor tillering and low sink capacity of the varieties used, <br><br>
                        (c) higher susceptibility to diseases,<br><br>
                        (d) the higher sensitivity to thermo & photo variations, etc., resulting in
                        pooradaptability, and<br><br>
                        (e) longer crop duration resulting in a long exposure of plants to the climatic variations
                        and insect pest / disease attacks.<br><br>
                    </p>


                </div>
            </div>


        </div>

    </div>