.demo {
    background-color: #12CBC4;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
    background-blend-mode: darken;
    background-position: center bottom;
    background-attachment: fixed;
    transition: background-image 3s ease-in-out;
}

.demo h1 {
    color: white;

    position: absolute;
    top: 35%;
    left: 10%;

    width: 40%;
    line-height: 2.5rem;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

.demo h1 b {
    float: right;
    position: relative;
    top: 30px;
}

.one {
    background-image: url('../../../../assets/Images/b3.jpg');
}

.two {
    background-image: url('../../../../assets/Images/h3.jpg');
}

.three {
    background-image: url('../../../../assets/Images/g5.jpg');
}

.four {
    background-image: url('../../../../assets/Images/g3g.jpg');
}

#demo_btn {
    position: absolute;
    top: 72%;
    left: 25%;
    color: white;
    padding: 7px 22px;
    border: 2px solid white;
    background-color: transparent;
    text-decoration: none;
    transition-duration: 0.5s;
}

#demo_btn:hover {
    background-color: white;
    color: black;
}