<app-navbar></app-navbar>

<app-product-sidebar></app-product-sidebar>

<div class="demo_product_display" >
    <img src="../../../../assets/Images/b10.jpg" width="450" height="350" alt="">
    <div class="demo_product_display_content">
        <h1>{{product_details_all.name}}</h1>
        <h3>Price : <b>{{product_details_all.price}}/-</b></h3>
        <p> <span>Description :</span> <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quos libero quas laborum exercitationem corporis soluta ipsa dolore cum? Velit itaque corrupti eaque iusto molestiae blanditiis atque repellendus neque tempora?</p>
        <a href="#">Buy Now</a>
    </div>  
</div>